<h1>Listing listeners</h1>

<table>
  <%= generate_heads(%w{Status Key Pid Subscriber-url Receiver-login-url Receiver-delivery-url Show Edit Destroy}) %>
  <tbody>
    <%= render(:partial => "listener", :collection => @listeners) %>
  </tbody>
</table>

<br />

<%= link_to 'New listener', new_listener_path %>

<% require 'RedCloth' %>
<%= textilize('Text formatted by the *textilize* helper method') %>
