<h1>Listing listeners</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Key</th>
      <th>Pid</th>
      <th>Subscriber url</th>
      <th>Receiver login url</th>
      <th>Receiver delivery url</th>
    </tr>
  </thead>
  
  <tbody>
    <%= render(:partial => "listener", :collection => @listeners) %>
  </tbody>
</table>

<br />

<%= link_to 'New listener', new_listener_path %>

<% require 'RedCloth' %>
<%= textilize('Text formatted by the *textilize* helper method') %>
