<h1>Listing users</h1>

<table>
  <%= generate_heads(%w{Name Show Edit Destroy}) %>
  <tbody>
    <%= render(:partial => "user", :collection => @users) %>
  </tbody>
</table>

<br />

<%= link_to 'New user', new_user_path %>
