<h1>Listing documents</h1>

<table>
  <%= generate_heads(%w{Key Destination Length Data Show Destroy}) %>
  <tbody>
    <%= render(:partial => "document", :collection => @documents) %>
  </tbody>
</table>

<br />

<%= link_to 'New document', new_document_path %>
<br />
<%= link_to 'Back', { :controller => 'listeners', :action => 'index' } %>
